@use '../variables' as *;
@use '../mixins' as *;

/***** PIE *****/
.pie {
    position  : relative;
    background: $color_oscuro;
    padding   : 10px 20px;
    text-align: center;
    z-index   : 2;

    p {
        display        : block;
        color          : $color_claro;
        font-size      : 18px;
        line-height    : 30px;
    }
}

/** SCROLLABLE DEL SITIO **/
.scroll_able {
    position  : relative;
    background: $color_claro;
    z-index   : 3;
}