@use '../variables' as *;
@use '../mixins' as *;

.quote {
    display            : flex;
    flex-direction     : column;
    flex-wrap          : wrap;
    justify-content    : center;
    position           : relative;
    background-image   : url('../img/bg_quote.jpg');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    padding            : 40px;
    height             : 250px;
    text-align         : center;
    z-index            : 1;

    &:after {
        content: '';
        @include absolutePos(0, 0, 0, 0);
        background: rgba(0, 0, 0, .65);
        z-index: 1;
    }

    .cont_cita {
        position : relative;
        z-index  : 2;

        blockquote {
            position : relative;
            font-size: 32px;
            color    : $color_claro;
            z-index  : 2;
    
        }
    
        label {
            position  : relative;
            display   : block;
            color     : $color_claro;
            font-style: italic;
            margin-top: 15px;
            font-size : 20px;
            z-index   : 2;
        }
    }

}