@media (hover: hover) {

    .cabecera .menu_cabecera .opcion:hover {
        background: var(--color_oscuro);
        color: var(--color_claro);
    }

    .cabecera .menu_cabecera .opcion:hover span {
        color: var(--color_claro);
    }

    .bloques .bloque:hover .icono,
    .bloques .bloque:hover .titulo_bloque,
    .bloques .bloque:hover .descripcion_bloque {
        color: var(--color_oscuro);
    }

    .bloques .bloque:hover .titulo_bloque:after {
        background: var(--color_oscuro);
    }

    .matriz .item:hover .textos_item:after {
        -webkit-transform: translateX(0);
        -moz-transform:    translateX(0);
        -ms-transform:     translateX(0);
        -o-transform:      translateX(0);
        transform:         translateX(0);
    }

    .matriz .item:hover .textos_item .titulo_item,
    .matriz .item:hover .textos_item .descripcion_item {
        color: var(--color_claro);
    }

    .bloques .bloque:hover:after {
        -webkit-transform: translateY(0);
        -moz-transform:    translateY(0);
        -ms-transform:     translateY(0);
        -o-transform:      translateY(0);
        transform:         translateY(0);
    }

    .contenido .descripcion a:hover {
        opacity: .7;
    }

}