@use 'variables' as *;
@use 'mixins' as *;

@media (hover: hover) {
    .cabecera .menu_cabecera .opcion:hover {
        background: $color_oscuro;
        color     : $color_claro;
    }

    .cabecera .menu_cabecera .opcion:hover span {
        color: $color_claro;
    }

    .bloques .bloque:hover .icono {
        animation         : bounceIn;
        animation-duration: 400ms;
        animation-delay   : 300ms;
    }

    .bloques .bloque:hover .icono,
    .bloques .bloque:hover .titulo_bloque,
    .bloques .bloque:hover .descripcion_bloque {
        color: $color_oscuro;
    }

    .bloques .bloque:hover .titulo_bloque:after {
        background: $color_oscuro;
    }

    .matriz .item:hover .textos_item:after {
        @include Xtranslate(0);
    }

    .matriz .item:hover .textos_item .titulo_item,
    .matriz .item:hover .textos_item .descripcion_item {
        color: $color_claro;
    }

    .bloques .bloque:hover:after {
        @include Ytranslate(0);
    }

    .contenido .descripcion a:hover {
        opacity: .7;
    }

    .github:hover {
        max-width       : 200px;
        padding-right   : 60px;
        background-color: $color_oscuro;
        border-color    : $color_claro;
        background-image: url('../img/github_icon_w.png');
    }
    .github:hover .txt {
        color  : $color_claro;
        opacity: 1;
    }
    .matriz_v2 .item:hover .titulo_item {
        bottom    : 0;
        background: transparent;
        color     : $color_oscuro;
    }
    .matriz_v2 .item:hover .foto_item img {
        @include scalar(1.2);
    }
    .matriz_v2 .item:hover {
        -webkit-box-shadow: 0px 0px 10px 5px rgba(64, 64, 64, .5);
        -moz-box-shadow   : 0px 0px 10px 5px rgba(64, 64, 64, .5);
        box-shadow        : 0px 0px 10px 5px rgba(64, 64, 64, .5);
    }
}