/**** VARIABLES ****/
$color_claro : #e9e9e9;
$color_oscuro: #242424;
$color_gris  : #a9a9a9;
$logo_w      : url('../../img/logo_w.png') center no-repeat;
$w_1260      : 1260px;
$w_1600      : 1600px;
$w_768       : 768px;
$w_480       : 480px;
$luto_global : rgba(0, 0, 0, .7);